@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensans/opensans-light-webfont.eot');
	src: url('../fonts/opensans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans/opensans-light-webfont.svg#open_sanslight') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans/opensans-regular-webfont.eot');
	src: url('../fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/opensans/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensans/opensans-bold-webfont.eot');
	src: url('../fonts/opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/opensans/opensans-bold-webfont.svg#open_sansbold') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('../fonts/opensans/opensans-extrabold-webfont.eot');
	src: url('../fonts/opensans/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-extrabold-webfont.woff') format('woff'), url('../fonts/opensans/opensans-extrabold-webfont.ttf') format('truetype'), url('../fonts/opensans/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('../fonts/opensans/opensans-lightitalic-webfont.eot');
	src: url('../fonts/opensans/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-lightitalic-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-lightitalic-webfont.woff') format('woff'), url('../fonts/opensans/opensans-lightitalic-webfont.ttf') format('truetype'), url('../fonts/opensans/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/opensans/opensans-italic-webfont.eot');
	src: url('../fonts/opensans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-italic-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-italic-webfont.woff') format('woff'), url('../fonts/opensans/opensans-italic-webfont.ttf') format('truetype'), url('../fonts/opensans/opensans-italic-webfont.svg#open_sansitalic') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('../fonts/opensans/opensans-semibolditalic-webfont.eot');
	src: url('../fonts/opensans/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-semibolditalic-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-semibolditalic-webfont.woff') format('woff'), url('../fonts/opensans/opensans-semibolditalic-webfont.ttf') format('truetype'), url('../fonts/opensans/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/opensans/opensans-bolditalic-webfont.eot');
	src: url('../fonts/opensans/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-bolditalic-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-bolditalic-webfont.woff') format('woff'), url('../fonts/opensans/opensans-bolditalic-webfont.ttf') format('truetype'), url('../fonts/opensans/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 800;
	src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('../fonts/opensans/opensans-extrabolditalic-webfont.eot');
	src: url('../fonts/opensans/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-extrabolditalic-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-extrabolditalic-webfont.woff') format('woff'), url('../fonts/opensans/opensans-extrabolditalic-webfont.ttf') format('truetype'), url('../fonts/opensans/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
}
a:focus {
	outline: none;
	text-decoration: none;
}
.clear {
	clear: both;
}
a {
	color: #3ec1c7;
	transition: all 0.5s ease-in-out;
}
p {
	margin-bottom: 10px;
}
img {
	max-width: 100%;
}
body {
	font-size: 20px;
	line-height: 150%;
	color: #000000;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
}
h1 {
	margin: 0px;
	font-size: 50px;
	color: #a0a0a0;
	font-weight: 300;
}
h1 strong {
	font-weight: 700;
	color: #151515;
}
h1 .red {
	color: #ef740b;
}
header {
	height: auto;
	padding: 5px 0px;
	background: #f7f7f7;
	float: left;
	width: 100%;
}
.navbar-brand img, #mainNav {
	transition: all 1s ease-in-out;
}
.navbar, a.navbar-brand, .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	padding: 0px;
	margin: 0px;
	height: auto;
}
#mainNav {
	padding-top: 45px;
}
.navbar-nav > li {
	padding: 0px 25px;
}
.navbar-nav > li > a, .navbar-nav > li > a:active, .navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
	padding: 0px 0px 7px 0px;
	color: #828282;
	font-size: 24px;
	background: none;
	line-height: 24px;
	position: relative;
}
.nav > li > a > img {
	display: block;
}
.navbar-nav > li + li > a:before {
	content: '';
	width: 11px;
	height: 11px;
	background: url(../images/bgNavigation.png) no-repeat;
	position: absolute;
	left: -30px;
	top: 10px;
}
.navbar-nav > li.active > a, .navbar-nav > li:hover > a {
	border-bottom: 5px solid #f7db68;
}
.mainMenu.fixed {
	background: #f7f7f7;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 999;
}
.mainMenu.fixed .navbar-brand > img {
	width: 160px;
}
.mainMenu.fixed #mainNav {
	padding-top: 24px;
}
footer {
	background: #454545;
	color: #a4a4a4;
	padding-top: 23px;
	padding-bottom: 23px;
}
.homeBanner {
	background: url(../images/bgHomeBanner.png) no-repeat center 140px;
	padding: 45px 15px 0px 15px;
	clear: both;
}
.bannerImg {
	margin-top: 25px;
}
.homeBanner h1 {
	margin-bottom: 130px;
}
.testimonials {
	width: 100%;
	float: left;
	padding-top: 25px;
	height: 196px;
	background: url(../images/bgTestimonial.png) no-repeat center bottom;
	position: relative;
	font-size: 18px;
	line-height: 135%;
}
.testimonials::before {
	content: '';
	width: 56px;
	height: 38px;
	background: url(../images/blockquoteStart.png) no-repeat;
	position: absolute;
	left: 0px;
	top: 25px;
}
.testimonials::after {
	content: '';
	width: 56px;
	height: 38px;
	background: url(../images/blockquoteEnd.png) no-repeat;
	position: absolute;
	right: 0px;
	bottom: 5px;
}
.testimonials p {
	color: #010101;
	margin: 5px;
}
.testimonials .clientName {
	color: #ef740b;
	line-height: 135%;
	font-style: italic;
}
.topBanner {
	background: #fff;
}
.topBanner h1 {
	font-size: 89px;
	font-weight: 600;
	border-bottom: 13px solid #d2d2d2;
	line-height: 1;
	margin-top: 115px;
	color: #4d4d4d;
	position: relative;
}
.topBanner h1 > div {
	font-size: 40px;
	left: -80px;
	position: absolute;
	top: 35px;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}
.topBanner .row > div {
	min-height: 353px;
}
.bannerHIW {
	background: url(../images/bannerHowItWorks.png) no-repeat left bottom;
}
.bannerWhyus {
	background: url(../images/bannerWhyUs.png) no-repeat left bottom;
}
.bannerContact {
	background: url(../images/bannerContact.png) no-repeat left bottom;
}
.bannerRegister {
	background: url(../images/bannerRegister.png) no-repeat left bottom;
}
.contentSection {
	background: #f7db68 url(../images/bgContent.png) repeat-x left top;
	padding: 60px 15px;
}
.form-container {
	width: 100%;
	float: left;
	padding: 0px 30px;
}
.form-container form {
	border-radius: 10px;
	background: #ffea93;
	padding: 25px;
	float: left;
	width: 100%;
}
.form-container form label {
	font-size: 18px;
	color: #191919;
	font-weight: 400;
	padding: 0px;
}
.form-control {
	border-radius: 0px;
	border: 1px solid #e1e1e1;
	box-shadow: none;
}
.captcha {
	margin-right: 5px;
	font-size: 11px;
	max-width: 95px;
	line-height: 1.2;
}
.btn, .btn:hover, .btn:focus {
	border-radius: 0px;
	border: none;
	background: #3c322a;
	color: #fff;
	width: 235px;
	font-size: 16px;
}
.addressBlock {
	float: left;
	font-size: 24px;
	font-weight: 300;
	color: #0f0c0f;
	line-height: 1.2;
}
.addressBlock p {
	margin-bottom: 35px;
}
.addressBlock p strong {
	font-weight: 600;
}
.footerTestimonial {
	height: auto;
	background: url(../images/bgTestimonialBottom.png) no-repeat center bottom;
	position: relative;
	font-size: 18px;
	line-height: 135%;
	min-height: 303px;
	padding-top: 50px;
}
.footerTestimonial .imgClient {
	margin-bottom: 50px;
}
.footerTestimonial p {
	color: #010101;
	margin: 5px;
}
.footerTestimonial .clientName {
	color: #1c9ecd;
	line-height: 135%;
	font-style: italic;
}
.whyusQuestion ul {
	padding: 0px;
	list-style-type: none;
	width: 100%;
	float: left;
	border-top: 1px solid #fff0b2;
}
.whyusQuestion ul li {
	padding: 20px 0px;
	width: 100%;
	float: left;
	border-bottom: 1px solid #fff0b2;
}
.whyusQuestion ul li strong {
	font-style: italic;
	font-weight: 600;
}
.whyusQuestion ul li strong span {
	color: #ef740b;
}
.footerTestimonialFull {
	height: auto;
	background: url(../images/bgTestimonialBlue.png) no-repeat center bottom;
	position: relative;
	font-size: 16px;
	line-height: 135%;
	min-height: 303px;
	padding-top: 40px;
}
.footerTestimonialFull .imgClient {
	margin-bottom: 22px;
}
.footerTestimonialFull p {
	color: #010101;
	margin: 5px;
}
.footerTestimonialFull .clientName {
	color: #ef740b;
	line-height: 135%;
	font-style: italic;
}
.footerTestimonialFull .row > div {
	padding: 45px 15px;
	margin: 0px 1%;
	width: 48%;
}
.footerTestimonialFull .row  + .row > div {
	border-top: 1px solid #e1e1e1;
}
.footerTestimonialFull h2 {
	font-size: 40px;
	color: #000000;
	font-weight: 300;
	display: inline-block;
	position: relative;
}
.footerTestimonialFull h2:before {
	content: '';
	width: 85px;
	height: 1px;
	background: #000;
	position: absolute;
	left: -110px;
	top: 22px;
}
.footerTestimonialFull h2:after {
	content: '';
	width: 85px;
	height: 1px;
	background: #000;
	position: absolute;
	right: -110px;
	top: 22px;
}
.howitworksSteps ul {
	padding: 0px;
	list-style-type: none;
}
.step1 {
	padding-left: 54px;
	padding-top: 54px;
	margin-bottom: 140px;
}
.step1Area {
	float: left;
	width: 100%;
	border-left: 5px solid #ea7865;
	border-top: 5px solid #ea7865;
	position: relative;
	padding: 75px 0px 0px 20px;
	font-size: 22px;
	color: #0f0c0f;
}
.step1Icon {
	border: 5px solid #ea7865;
	border-radius: 10px;
	width: 114px;
	height: 114px;
	padding: 7px;
	background: #f7db68;
	position: absolute;
	left: -57px;
	top: -57px;
}
.step1Number {
	position: absolute;
	right: 0px;
	top: -37px;
	background: #ea7865;
	border-radius: 100px;
	width: 75px;
	height: 75px;
	text-align: center;
	line-height: 75px;
	font-size: 48px;
	color: #fff;
	font-weight: 700;
}
.step1Number:after {
	content: '';
	position: absolute;
	width: 56px;
	height: 75px;
	background: url(../images/connectingLineLeft.png) no-repeat;
	left: 60px;
	top: 80px;
}
.step1Area span {
	color: #dc604b;
	text-transform: uppercase;
	font-weight: 600;
}
.step1Area a {
	color: #f2790d;
	font-style: italic;
	font-weight: 600;
}
.step2 {
	padding-right: 54px;
	padding-top: 54px;
	margin-bottom: 170px;
}
.step2Area {
	float: left;
	width: 100%;
	border-right: 5px solid #ac7ebb;
	border-bottom: 5px solid #ac7ebb;
	position: relative;
	padding: 0px 20px 75px 0px;
	font-size: 22px;
	color: #0f0c0f;
}
.step2Icon {
	border: 5px solid #ac7ebb;
	border-radius: 10px;
	width: 114px;
	height: 114px;
	padding: 7px;
	background: #f7db68;
	position: absolute;
	right: -57px;
	bottom: -57px;
}
.step2Number {
	position: absolute;
	left: 0px;
	bottom: -37px;
	background: #ac7ebb;
	border-radius: 100px;
	width: 75px;
	height: 75px;
	text-align: center;
	line-height: 75px;
	font-size: 48px;
	color: #fff;
	font-weight: 700;
}
.step2Number:after {
	content: '';
	position: absolute;
	width: 43px;
	height: 82px;
	background: url(../images/connectingLineRight.png) no-repeat;
	right: 40px;
	top: 85px;
}
.step2Area span {
	color: #ac7ebb;
	text-transform: uppercase;
	font-weight: 600;
}
.step2Area strong {
	text-transform: uppercase;
	font-style: italic;
	font-weight: 600;
}
.step3 {
	border: 5px solid #f2790d;
	border-radius: 10px 10px 0px 0px;
	margin-bottom: 85px;
	position: relative;
}
.step3:after {
	content: '';
	width: 28px;
	height: 28px;
	background: #f2790d;
	position: absolute;
	left: 50%;
	margin-left: -14px;
	bottom: -16px;
	border-radius: 100%;
}
.step3Area {
	position: relative;
	padding: 45px 0px 0px 0px;
	font-size: 22px;
	color: #0f0c0f;
}
.step3Number {
	position: absolute;
	left: 50%;
	top: -39px;
	margin-left: -37px;
	background: #f2790d;
	border-radius: 100px;
	width: 75px;
	height: 75px;
	text-align: center;
	line-height: 75px;
	font-size: 48px;
	color: #fff;
	font-weight: 700;
}
.step3Txt {
	border-bottom: 5px solid #f2790d;
	padding-bottom: 32px;
	font-size: 30px;
	color: #1c1c1c;
	font-weight: 300;
	line-height: 1.2;
}
.step3Txt span {
	color: #f2790d;
	font-weight: 600;
	font-style: italic;
}
.step3Txt strong {
	text-transform: uppercase;
	color: #f2790d;
	font-weight: 700;
}
.step3steps {
	border-bottom: 1px solid #f2790d;
	float: left;
	width: 100%;
}
.step3steps > div {
	width: 25%;
	float: left;
	text-align: center;
	padding-top: 15px;
	font-size: 22px;
	line-height: 30px;
	color: #f2790d;
	font-weight: 600;
	padding-bottom: 15px;
	min-height: 215px;
}
.step3steps > div + div {
	border-left: 1px solid #f2790d;
}
.step3steps > div figure {
	height: 125px;
	display: block;
}
.step3more {
	font-size: 48px;
	line-height: 60px;
	padding: 20px 0px;
}
.step3more strong {
	color: #f2790d;
	font-weight: 600;
}
.step4 {
	padding-left: 54px;
	padding-top: 54px;
	margin-bottom: 100px;
}
.step4Area {
	float: left;
	width: 100%;
	border-left: 5px solid #e464e6;
	border-top: 5px solid #e464e6;
	position: relative;
	padding: 75px 0px 0px 20px;
	font-size: 22px;
	color: #0f0c0f;
}
.step4Icon {
	border: 5px solid #e464e6;
	border-radius: 10px;
	width: 114px;
	height: 114px;
	padding: 7px;
	background: #f7db68;
	position: absolute;
	left: -57px;
	top: -57px;
}
.step4Number {
	position: absolute;
	right: 0px;
	top: -37px;
	background: #e464e6;
	border-radius: 100px;
	width: 75px;
	height: 75px;
	text-align: center;
	line-height: 75px;
	font-size: 48px;
	color: #fff;
	font-weight: 700;
}
.step4Number:before {
	content: '';
	position: absolute;
	width: 43px;
	height: 82px;
	background: url(../images/connectingLineRight.png) no-repeat;
	left: 42px;
	bottom: 82px;
}
.step4Number:after {
	content: '';
	position: absolute;
	width: 56px;
	height: 75px;
	background: url(../images/connectingLineLeft.png) no-repeat;
	left: 60px;
	top: 80px;
}
.step4Area span {
	color: #e464e6;
	text-transform: uppercase;
	font-weight: 600;
}
.step5 {
	padding-right: 54px;
	padding-top: 54px;
	margin-bottom: 100px;
}
.step5Area {
	float: left;
	width: 100%;
	border-right: 5px solid #6ea8e3;
	border-bottom: 5px solid #6ea8e3;
	position: relative;
	padding: 0px 20px 75px 0px;
	font-size: 22px;
	color: #0f0c0f;
}
.step5Icon {
	border: 5px solid #6ea8e3;
	border-radius: 10px;
	width: 114px;
	height: 114px;
	padding: 7px;
	background: #f7db68;
	position: absolute;
	right: -57px;
	bottom: -57px;
}
.step5Number {
	position: absolute;
	left: 0px;
	bottom: -37px;
	background: #6ea8e3;
	border-radius: 100px;
	width: 75px;
	height: 75px;
	text-align: center;
	line-height: 75px;
	font-size: 48px;
	color: #fff;
	font-weight: 700;
}
.step5Number:after {
	content: '';
	position: absolute;
	width: 43px;
	height: 82px;
	background: url(../images/connectingLineRight.png) no-repeat;
	right: 65px;
	top: 80px;
}
.step5Area span {
	color: #6ea8e3;
	text-transform: uppercase;
	font-weight: 600;
}
.step6 {
	padding-left: 54px;
	padding-top: 54px;
	margin-bottom: 140px;
	clear: both;
}
.step6Area {
	float: left;
	width: 100%;
	border-left: 5px solid #06b5cf;
	border-top: 5px solid #06b5cf;
	position: relative;
	padding: 75px 0px 0px 20px;
	font-size: 22px;
	color: #0f0c0f;
}
.step6Icon {
	border: 5px solid #06b5cf;
	border-radius: 10px;
	width: 114px;
	height: 114px;
	padding: 7px;
	background: #f7db68;
	position: absolute;
	left: -57px;
	top: -57px;
}
.step6Number {
	position: absolute;
	right: 0px;
	top: -37px;
	background: #06b5cf;
	border-radius: 100px;
	width: 75px;
	height: 75px;
	text-align: center;
	line-height: 75px;
	font-size: 48px;
	color: #fff;
	font-weight: 700;
}
.step6Number:after {
	content: '';
	position: absolute;
	width: 56px;
	height: 75px;
	background: url(../images/connectingLineLeft.png) no-repeat;
	left: 65px;
	top: 80px;
}
.step6Area span {
	color: #06b5cf;
	text-transform: uppercase;
	font-weight: 600;
}
.step7 {
	padding-right: 54px;
	padding-top: 54px;
	margin-bottom: 140px;
}
.step7Area {
	float: left;
	width: 100%;
	border-right: 5px solid #c5ab21;
	border-bottom: 5px solid #c5ab21;
	position: relative;
	padding: 0px 20px 75px 0px;
	font-size: 22px;
	color: #0f0c0f;
}
.step7Icon {
	border: 5px solid #c5ab21;
	border-radius: 10px;
	width: 114px;
	height: 114px;
	padding: 7px;
	background: #f7db68;
	position: absolute;
	right: -57px;
	bottom: -57px;
}
.step7Number {
	position: absolute;
	left: 0px;
	bottom: -37px;
	background: #c5ab21;
	border-radius: 100px;
	width: 75px;
	height: 75px;
	text-align: center;
	line-height: 75px;
	font-size: 48px;
	color: #fff;
	font-weight: 700;
}
.step7Number:after {
	content: '';
	position: absolute;
	width: 43px;
	height: 82px;
	background: url(../images/connectingLineRight.png) no-repeat;
	right: 45px;
	top: 90px;
}
.step7Area span {
	color: #c5ab21;
	text-transform: uppercase;
	font-weight: 600;
}
.step8 {
	padding-top: 182px;
}
.step8Area {
	position: relative;
	padding: 102px 0px 0px 0px;
	font-size: 22px;
	color: #0f0c0f;
	border: 5px solid #57c466;
	border-bottom: none;
	font-size: 18px;
}
.step8Number {
	position: absolute;
	left: 50%;
	top: -185px;
	margin-left: -37px;
	background: #57c466;
	border-radius: 100px;
	width: 75px;
	height: 75px;
	text-align: center;
	line-height: 75px;
	font-size: 48px;
	color: #fff;
	font-weight: 700;
}
.step8Icon {
	border: 5px solid #57c466;
	border-radius: 10px;
	width: 175px;
	height: 175px;
	padding: 17px;
	background: #f7db68;
	position: absolute;
	left: 50%;
	margin-left: -87px;
	top: -87px;
}
.step8Title {
	font-size: 30px;
	line-height: 1.2;
}
.step8Title span {
	font-weight: 600;
	font-style: italic;
	color: #57c466;
	text-transform: uppercase;
}
.txtMobile {
	display: none;
}
@media(max-width:1199px) {
	body {
		font-size: 16px;
	}
	.navbar-nav > li > a, .navbar-nav > li > a:active, .navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
		font-size: 18px;
	}
	#mainNav {
		margin-right: 0px;
	}
	h1 {
		font-size: 40px;
	}
}
@media(max-width:991px) {
	.navbar-brand > img {
		width: 150px;
	}
	#mainNav {
		padding-top: 25px;
	}
	.mainMenu.fixed .navbar-brand > img {
		width: 120px;
	}
	.mainMenu.fixed .navbar-toggle {
		margin-top: 12px;
	}
	.navbar-nav > li {
		padding: 0 14px;
	}
	.navbar-nav > li + li > a::before {
		left: -18px;
		top: 8px;
	}
	.homeBanner h1 {
		font-size: 30px;
		margin-bottom: 50px;
	}
	.step1, .step4, .step6 {
		margin-bottom: 50px;
	}
	.step3Txt {
		padding: 0px 15px 32px;
		font-size: 24px;
	}
	.step3steps > div {
		font-size: 18px;
	}
	.topBanner h1 {
		margin-top: 130px;
		font-size: 56px;
	}
	.col-sm-12.col-sm-offset-2 {
		margin-left: 0px;
	}
	.step1Number:after, .step2Number:after, .step4Number:before, .step5Number:after, .step6Number:after, .step7Number:after, .step4Number:after {
		display: none;
	}
	.topBanner h1 > div {
		font-size: 28px;
		left: -50px;
		top: 22px;
	}
	.bannerWhyus {
		background-size: 70% auto;
	}
	.bannerContact {
		background-size: 58% auto;
	}
	.bannerRegister {
		background-size: 50% auto;
	}
}
@media(max-width:767px) {
	.txtMobile {
		display: block;
	}
	.txtDesktop {
		display: none;
	}
	.navbar-toggle {
		background: #f7db68;
	}
	.navbar-toggle span {
		background: #fff;
	}
	.homeBanner h1 {
		text-align: center;
	}
	.step3steps > div {
		width: 100%;
		border-left: none;
	}
	.step3steps > div + div {
		border-top: 1px solid #f2790d;
	}
	.footerTestimonialFull .row > div {
		width: 98%;
	}
	.footerTestimonialFull .row > div + div {
		border-top: 1px solid #e1e1e1;
	}
	.footerTestimonialFull h2::before, .footerTestimonialFull h2::after {
		display: none;
	}
	label + div {
		padding: 0px !important;
	}
	.navbar-toggle {
		margin-top: 18px;
	}
	.addressBlock {
		font-size: 22px;
		margin-top: 20px;
	}
	.navbar-nav > li {
		padding: 3px 30px;
	}
	.form-container {
		padding: 0px;
	}
	.testimonials {
		height: auto;
	}
	.bannerImg {
		margin-top: 0px;
		margin-bottom: 25px;
		text-align: center;
	}
	.bannerImg > img {
		width: 335px;
	}
	.topBanner .row > div {
		min-height: 260px;
	}
	.topBanner h1 {
		font-size: 32px;
		margin-top: 105px;
		border-bottom-width: 5px;
	}
	.topBanner h1 > div {
		font-size: 18px;
		left: -35px;
		top: 7px;
	}
	.bannerHIW {
		background-size: 100% auto;
	}
	.bannerWhyus {
		background-size: 80% auto;
	}
	.bannerContact {
		background-size: 60% auto;
	}
	.bannerRegister {
		background-size: 60% auto;
	}
}
@media(max-width:639px) {
	.bannerImg > img {
		width: 325px;
	}
}
@media(max-width:479px) {
	.bannerImg > img {
		width: 300px;
	}
	.topBanner .row > div {
		padding-right: 0px;
	}
	.step3more {
		font-size: 36px;
		line-height: 1.2;
	}
}
@media(max-width:359px) {
	.bannerImg > img {
		width: 265px;
	}
}
.errors {
	font-size: 12px;
	line-height: 1.4;
	background-color: #EF4836;
	color: #FFF;
	padding: 20px;
	margin-bottom: 1em;
}